.multipliers{
    padding:15px 10px;
    border:1px solid #0000001f;
    max-width:400px;
    width:320px;
}

.multipliers__each__multiplier{
    margin:5px 0;
    display:flex;
}
.multiplier__each__type{
    margin:0 0 5px 0;

}