.stats{
    padding:10px 10px;
    border:1px solid #0000001f;
    max-width:400px;
    width:320px;

}
.stats__list{
    width:100%;
}

.stats__item{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin:10px 0;
}
.stats__name{
    width:120px;
}