.evolution-chain{
    width:700px;
    
    padding:5px 10px;
    border:1px solid #0000001f;
    
}
.evolution-chain-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;

}

