
.modal-dialog{
    max-width:980px !important;
}
.modal-body{
    padding:.5em !important;
}
.modal{
    padding:0 !important;
}
p{
    font-weight:700;
    margin:0 !important;
}
p, ul{
    display:inline-block;
}
h1{color:rgb(211, 211, 0)}
span{
    font-weight:400;
}
ul{
    padding:0  !important;
    margin:0 !important;
}
ul li{
    list-style:none;
    display:inline-block;
}
.img{
    grid-area:img;
}
.about{
    grid-area:about;
}
.about p{
    margin:5px 0;
}

.evolution-chain{
    grid-area:evolution-chain;
}
.stats{
    grid-area:stats;
}
.multiplier{
    grid-area:multiplier;
}
.stats, .multiplier, .about,.evolution-chain, .img{
    padding:5px 10px;
    border:1px solid #000000;
    max-width:400px;
    width:320px;
    flex-grow: 1;
}

.evolution-chain{
    max-width:800px;
    width:640px;

    flex-grow: 1;
}
.container{
    padding:0 !important;
    margin:0;
    min-width:100% !important;
    display:flex;
    flex-wrap:wrap;
    /*
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
*/

    grid-template-areas: 
    "img stats multiplier"
    "about evolution-chain evolution-chain"
    ;
    
}

.stats ul{
    width:100%;
}
.stats li{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.evolution-chain ul{
    display:flex;
    flex-wrap:wrap;
    
    justify-content: space-around;
}

.abilities li, .eggs li{
    display:inline-block;
    padding:0 0 0 .7em;
}

.abilities, .eggs, .types, .each-multiplier{
    margin:5px 0;
}
.stats li{
    margin:5px 0;

}
.each-multiplier, .abillities{
    display:flex;
}
.each-multiplier li{
    margin:0 0 5px 0;

}

label{
    margin:0 15px 10px 5px;
    font-size:16px;
    font-weight:700;
}
