*{
    box-sizing:border-box;

}
body{
    padding:0;
    margin:0;
    background-attachment: fixed;
    background-image:linear-gradient(rgba(255, 0, 0, 0.096), rgba(54, 177, 43, 0.185));
    /* overflow-x:hidden; */
    font-family:Arial, Helvetica, sans-serif;
}
button:hover{
    cursor:pointer;
}
a{
    text-decoration: none;
}
ul, p, h1, h2, h3, h4{
    padding:0;
    margin:0;
}
li{
    list-style-type: none;
}

@keyframes even{
    0%{
        transform:translateX(100%);
    }
    100%{
        transform:translateX(0);
    }
}
@keyframes odd{
    0%{
        transform:translateX(-100%);
    }
    100%{
        transform:translateX(0);

    }
}
.card-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.card-container .card:nth-child(odd){
    animation:odd 750ms forwards;
}

.card-container .card:nth-child(even){
    animation:even 750ms forwards;
}

@keyframes entering {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
    
}

.card-container{
    max-width:980px;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    
}
.card{
    min-width:175px;
    flex:1;
    margin:.5rem;
}
.load-more{
    margin:.5rem auto 2rem;
    width:fit-content;
    display:block;
    padding:10px 15px;
    background-color: red;
    color:white;
    text-transform: uppercase;
    border:none;
    border-radius:10px;
} 
.load-more:hover{
    filter:grayscale(.5);
}