/*
.grass {
    background-image:linear-gradient(rgb(126, 223, 126), rgba(0, 0, 0, 0.267));
    color: black;
  }
  .fire {
    background-image:linear-gradient(rgb(243, 156, 97), rgba(0, 0, 0, 0.267));
    color: white;
  }
  .poison {
    background-image:linear-gradient( rgb(212, 133, 208), rgba(0, 0, 0, 0.267));
    color: white;
  }
  .water {
    background-image:linear-gradient(rgb(102, 166, 209), rgba(0, 0, 0, 0.267));
    color: white;
  }
  .bug {
    background-image:linear-gradient( rgb(119, 175, 119), rgba(0, 0, 0, 0.267));
    color: white;
  }
  .normal {
    background-color: rgb(163, 163, 163);
    color: white;
  }
  .electric {
    background-image: linear-gradient(rgba(255, 241, 42, 0.842), 
    rgb(235, 228, 133));
    color: rgb(0, 0, 0);
  }
  .fairy {
    background-image:linear-gradient( rgb(250, 125, 219), rgba(0, 0, 0, 0.11));
    color: black;
  }
  .fighting {
    background-image:linear-gradient(rgb(207, 146, 76), rgba(0, 0, 0, 0.274));
    color: white;
  }
  .psychic {
    background-image:linear-gradient(rgb(199, 98, 174), rgba(0, 0, 0, 0.445));
    color: white;
  }
  .rock {
    background-image:linear-gradient( rgba(163, 145, 39, 0.753), rgba(0, 0, 0, 0.596));
    color: white;
  }
  .ice {
    background-color: rgb(26, 111, 207);
    color: white;
  }
  .steel {
    background-color: rgb(159, 185, 214);
    color: black;
  }
  .ghost {
    background-color: rgb(163, 112, 150);
    color: white;
  }
  .flying {
    background-image: linear-gradient(
      rgb(82, 177, 221) 50%,
      rgb(180, 165, 165) 50%
    );
    color: black;
  }
  .ground {
    background-image: linear-gradient(
      rgb(180, 209, 52),
      rgb(158, 144, 144)
    );
    color: black;
  }
  .dragon {
    background-image: linear-gradient(
      rgb(202, 113, 77),
      rgb(62, 168, 218)
    );
    color: white;
  }
  .dark {
    background-color: rgba(66, 66, 66, 0.795);
    color: white;
  }
  */