.red{
    background-color:rgb(255, 157, 157);
}
.blue{
    background-color:rgb(154, 198, 255);
}
.green{
    background-color:rgb(169, 226, 169);
}
.brown{
    background-color:rgb(207, 177, 177);
}
.pink{
    background-color: rgb(250, 199, 207);
}
.purple{
    background-color: rgb(202, 170, 202);
}
.white{
    background-color: rgb(235, 233, 233);
}
.gray{
    background-color: rgb(185, 185, 185);
}
.yellow{
    background-color: rgb(224, 224, 156);
}
.black{
    background-color: rgba(88, 88, 88, 0.877);
}